* {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;

    --body-bg-color: #f0fdfa;
    --main-bg-color: #d1fae5;
    --header-bg-color: #059669;
    --sidebar-bg-color: #10b981;
    --card-bg-color: #f0fdf4; 
    --drop-shadow-color: #115e59;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: (var(--body-bg-color));
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100%;
    width: 90%;
}

.header {
    background-color: var(--header-bg-color);
    grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-area: 1 / 1 / 3 / 2 ;
}

.main {
    background-color: var(--main-bg-color);
    display: flex;
    flex-basis: auto;
    padding: 15px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 350px));
    grid-template-rows: repeat(3, 3fr);
    gap: 15px;
}

.third-col {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 15px;
}

.announcements,
.trending {
    display: grid;
    grid-template-columns: minmax(100px, 250px);
    grid-template-rows: minmax(100%, 150px);
}

.card, 
.announce-card,
.trend-card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1ch;
    background-color: var(--card-bg-color);
}

p {
    padding: 10px;
}



