* {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;

    --body-bg-color: #f0fdfa;
    --main-bg-color: #CAD2C5;
    --header-bg-color: #84A98C;
    --sidebar-bg-color: #52796F;
    --card-bg-color: #f0fdf4; 
    --drop-shadow-color: rgba(53, 79, 82, .8);
    --buttons-color: #2F3E46;
}

body {
    background-color: (var(--body-bg-color));
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 18ch 4fr;
    height: min-content;
}

.header {
    background-color: var(--header-bg-color);
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 3.5rem);
    align-content: center;
    padding: 0 2ch 0.5ch 2ch;
    gap: 1ch;
}

.search {
    display: grid;
    grid-template-columns: minmax(min-content, 6ch) minmax(min-content, 44rem);
    align-content: center;
    justify-content: start;
}

.search-btn {
    background-color: var(--header-bg-color);
    border: none;
    margin-right: 1.5ch;
}

.search-btn:hover {
    cursor: pointer;
    background-color: var(--card-bg-color);
    border-radius: 1ch;
}

.search-img {
    width: 4ch;
    height: 4ch;
}

.search-site {
    width: 42rem;
    border-radius: 1ch;
    border: none;
    background-color: var(--card-bg-color);
    padding-left: 2ch;
}

.search-site:hover {
    border: .3ch solid var(--drop-shadow-color);
    cursor: pointer;
}

.account-admin {
    display: grid;
    grid-template-columns: minmax(min-content, 6ch) minmax(min-content, 6ch) minmax(min-content, 12rem);
    justify-content: end;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1ch;
}

.acct {
    height: 4ch;
    width: 4ch;
}

.acct:hover {
    cursor: pointer;
}

.user-avatar {
    width: 4ch;
    height: 4ch;
}

.full-name {
    color: var(--card-bg-color);
}

.greeting-div {
    display: grid;
    grid-template-columns: minmax(min-content, 12ch) minmax(min-content, 20rem);
    align-content: center;
}

.user-avatar-big {
    height: 8ch;
    width: 8ch;
    margin-left: 6ch;
}

.greeting {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 3ch));
    margin-left: 3ch;
    align-content: center;
}



.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-area: 1 / 1 / 3 / 2 ;
}

.side-nav-container {
    display: grid;
    grid-template-columns: minmax(4ch, 8ch) minmax(17px, 20ch);
    grid-auto-rows: 6ch;
    justify-content: end;
    align-items: center;
    margin-top: 2rem;
    height: min-content;
    color: var(--card-bg-color);
}

.side-nav {
    padding-top: 1rem;
}

.dashboard {
    height: 7ch;
    width: 7ch;
    fill: var(--card-bg-color);
}

.home, 
.profile,
.images,
.favorites,
.geo,
.slideshow,
.contacts,
.settings,
.support,
.privacy {
    width: 5ch;
    height: 5ch;
}


.main {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 15px;
    padding: 1.5rem 15px 0 15px;
}

.projects-container {
    grid-area: 1 / 1 / 2 / 2 ;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 350px));
    grid-template-rows: repeat(3, minmax(150px, min-content));
    gap: 3ch;
    height: min-content;
}

.project-card {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-radius: 1ch;
    background-color: var(--card-bg-color);
    padding: 10px;
    box-shadow: -.5ch 0 var(--drop-shadow-color),
                0 .5ch 1ch var(--drop-shadow-color);
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 5ch);
    justify-content: end;
    gap: 1.5ch;
    margin-top: 2ch;
}

.heart,
.comment,
.bookmark {
    width: 4ch;
    height: 4ch;
}

.right-column {
    grid-area: 1 / 2 / 2 / 3;
}

.announcements-container,
.trending-container {
    display: grid;
    grid-template-columns: minmax(100px, 250px);
    grid-template-rows: repeat(3), minmax(max-content, 150px);
    justify-content: center;
    height: max-content;
    border-radius: 1ch;
    background-color: var(--card-bg-color);
    padding: 10px;
    box-shadow: 0 .5ch 1ch var(--drop-shadow-color);
    margin-bottom: 2ch;
}

.trend-margin {
    margin-top: 4ch;
}

.trend-card {
    display: grid;
    grid-template-columns: 6ch minmax(10ch, 17ch);
    grid-auto-rows: minmax(min-content, 6ch);
    justify-content: center;
    align-items: center;
    height: min-content;
    background-color: var(--card-bg-color);
    padding: 10px;
    gap: 2ch;
}


.announce-card {
    padding: 10px;
    border-bottom: 1px solid var(--drop-shadow-color);
}

.avatar {
    height: 6ch;
    width: 6ch;
}



h4 {
    height: 2rem;
}

p {
    height: min-content;
}