* {
    margin: 0;
    padding: 0;
    height: 100%;

    --body-bg-color: #f0fdfa;
    --main-bg-color: #d1fae5;
    --header-bg-color: #059669;
    --sidebar-bg-color: #10b981;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: (var(--body-bg-color));
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100%;
    width: 90%;
}

.header {
    background-color: var(--header-bg-color);
    grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-area: 1 / 1 / 3 / 2 ;
}

.main {
    background-color: var(--main-bg-color)
}